/* Estilos generales */
header {
  background-color: #EAC926;
}

.logo {
  width: 200px;
  height: 100px;
  padding: 20px; 
}

.cta2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 50px; /* Opcional: ajusta la altura según tus necesidades */
}

.burger-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #03264C;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.burger-menu i {
  font-size: 24px;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Estilos de la barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #3483fa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos del menú de navegación */
nav ul.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul.menu li {
  flex: 1; /* Distribuir el espacio de manera equitativa */
}

nav ul.menu li:not(:last-child) {
  margin-right: 10px; /* Margen derecho entre los elementos */
}

nav ul.menu li a {
  color: #000000;
  text-decoration: none;
}

nav ul.menu li.account,
nav ul.menu li.login,
nav ul.menu li.purchases {
  margin-left: auto;
}



/* Estilos de los artículos */


.container-items{
  display: grid;
  grid-template-columns: (3, 1fr);
}

section article {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

section article img {
  width: 100%;
  border-radius: 4px;
}

section article p.price {
  font-weight: bold;
  color: #000000;
}

section article p.discount {
  color: #39b54a;
}

section article p.description {
  color: #777;
}

section article {
  position: relative;
}

section article img {
  width: 100%;
  border-radius: 4px;
}

section article .product-info {
  display: flex;
  align-items: center;
}

section article .icon-truck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #39b54a;
  border-radius: 50%;
  margin-right: 10px;
}

section article .icon-truck i {
  color: #39b54a;
}



section article .price {
  font-weight: bold;
  margin-right: 10px;
}

section article .discount {
  margin-right: 10px;
}

/* Media queries para tablets */
@media (min-width: 361px) {
  /* Estilos adicionales para navegación en tablets */
  section article .description {
    display: block;
  }
}

/* Media queries para desktop */
@media (min-width: 769px) {
  /* Estilos adicionales para navegación en desktop */
}



/* Estilos del pie de página */
footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
}

footer div.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer div.tarjeta .icono {
  margin-right: 80px;
}

footer h4 {
  font-size: 18px;
  margin: 10px 0;
}

footer p {
  color: #777;
}

footer div.tarjeta i,
footer div.tarjeta h4,
footer div.tarjeta p {
  color: #333;
}

footer div.tarjeta i {
  font-size: 24px;
}

footer div.tarjeta h4 {
  font-weight: bold;
}

footer div.tarjeta p {
  font-size: 14px;
}

footer div.tarjeta p:last-child {
  margin-bottom: 0;
}

footer div.tarjeta:last-child {
  margin-bottom: 0;
}

footer h4 {
  font-size: 16px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer div i {
  font-size: 24px;
  margin-bottom: 10px;
}

footer div:last-child {
  margin-bottom: 0;
}

/* Estilos de los íconos */
.fa-solid {
  font-size: 16px;
}

.fa-regular {
  font-size: 16px;
}

.fa-lg {
  font-size: 24px;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="file"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select[multiple] {
  height: auto;
}

button[type="submit"],
button[type="reset"] {
  padding: 10px 20px;
  background-color: #03264C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="reset"] {
  background-color: #ccc;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

form div {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #03264C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}








