

* {
  box-sizing: border-box;
}

header {
  background-color: #EAC926;
}

.logo {
  width: 200px;
  height: 100px;
  padding: 20px; 
}

.cta2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50px; 
}

.burger-menu {
  width: 30px;
  color: #ffffff;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  margin:auto;
  background-color: #03264C;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Estilos de la barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #3483fa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos del menú de navegación */
nav ul.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul.menu li {
  flex: 1; 
}

nav ul.menu li:not(:last-child) {
  margin-right: 10px; 
}

nav ul.menu li a {
  color: #000000;
  text-decoration: none;
}

nav ul.menu li.account,
nav ul.menu li.login,
nav ul.menu li.purchases {
  margin-left: auto;
}


form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="file"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select[multiple] {
  height: auto;
}

button[type="submit"],
button[type="reset"] {
  padding: 10px 20px;
  background-color: #03264C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="reset"] {
  background-color: #ccc;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

form div {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #03264C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.price{
  width: 30%;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discount{
  width: 70%;
  font-size: 16px;
  color:#39b54a;
  text-align: center;
}

.description{
  font-size: 16px;
  width: 100%;
  color: #666;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 170ms;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products>h2{
  width: 100%;
}

.products>article{
  margin-bottom: 10px;
  background-color: #fff;
  width: 48%; 
  margin-bottom: 20px; 
}

.products>article>div{
  border-top: #666;
  padding: 15px;
  position: relative;
  flex-wrap: wrap;
}

.products>article>div>i{
  color: #39b54a;
  display: block;
  font-size: 18px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 400ms ease;
}

.products>article>p{
  font-size: 16px;
}

.products>article:hover .description {
  max-height: 100px; /* Mostrar el detalle ajustando la altura */
  margin: 10px 0; /* Agregar un margen para separar los artículos */
}

.products>article:hover .icon-truck i {
  transform: rotate(-90deg); /* Rotar el ícono del camión 90 grados */
}

img{
  width: 100%;
}

.article-info{
  display: flex;
  align-items: center;
}

footer{
  background-color: #fff;
  margin-top: auto;
}

footer>section{
  color:#666;
  padding: 20px 20px 1px;

}

#footer-info>article{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}

#footer-info>article>i{
  color:#3483fa;
  transition: all 400ms; 
}

#footer-info>article>i:hover{
  color:#03264C;
}

/* PC */

@media (min-width:769px) {
  .productos>article{
    width: 24%;
  }
  
  .burger-menu{
    display:none
  }

  .nav-buttons{
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .nav-lower-container{
    flex-wrap: nowrap;
  }

  .nav-upper-container>div{
    display: inherit;
    align-items: center;
    width: 50%;
  }
  
  main{
    margin: 18vh auto 30px;    
  }

  footer>section{
    display: flex;
    flex-direction: column;
  }
}

